body {
  position: relative;
}
#header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 10;
}
#header #top-nav > div {
  list-style: none;
  text-align: center;
}
#header #top-nav > div a {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
  text-rendering: optimizelegibility;
  color: #333;
}
@media (max-width: 767px) {
  #header {
    background-color: #EEE;
  }
}
#main-section {
  overflow: hidden;
  margin-bottom: 10px;
}
#main-section #hero-section {
  position: static;
  width: 940px;
  height: 870px;
  margin: 0 auto;
  margin-bottom: 40px;
}
#main-section #mask {
  width: 1934px;
  height: 870px;
  margin: 0 -497px;
}
#main-section #view {
  width: 100%;
  height: 870px;
  position: relative;
}
#main-section #phone-container {
  z-index: 3;
  position: absolute;
  top: 80px;
  left: 560px;
  width: 306px;
  height: 599px;
}
#main-section #phone-container iframe {
  height: 236px;
  position: absolute;
  top: 64px;
  left: 14px;
}
#main-section #request-info {
  z-index: 3;
  position: absolute;
  top: 180px;
  left: 880px;
  color: #FFF;
}
#main-section #request-info .wrapper {
  padding: 20px;
  background: #ccc;
  background: rgba(153, 153, 153, 0.5);
  margin-bottom: 10px;
}
#main-section #request-info .wrapper .cooperation > div {
  font-size: 18px;
}
#main-section #request-info .wrapper .appyourself {
  color: #4181c2;
  font-size: 18px;
}
#main-section #request-info .wrapper .resmio img {
  margin-top: -5px;
}
#main-section #request-info h2,
#main-section #request-info h4 {
  text-shadow: 0px 1px 0 #333;
}
#main-section #request-info .btn {
  font-size: 24px;
}
#main-section #background-image {
  position: absolute;
  width: 1934px;
  height: 870px;
  background-repeat: no-repeat;
}
#main-section .smartphone-users {
  text-align: center;
  font-weight: normal;
}
#facts {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#facts > div {
  text-align: right;
}
#overview-section,
#features-section,
#contact-section,
#description-section {
  margin-bottom: 40px;
  padding: 20px 0;
}
#overview-section .title,
#features-section .title,
#contact-section .title,
#description-section .title {
  margin-bottom: 20px;
}
.box {
  background-color: #f6f6f6;
}
.center {
  text-align: center;
}
#overview-section img {
  display: block;
  margin: 0 auto;
}
#description-section {
  font-size: 16px;
}
#description-section .pull-left {
  margin-right: 40px;
}
#description-section img {
  margin-left: 20px;
}
#description-section p {
  margin-bottom: 40px;
}
#features-section {
  text-align: left;
}
#features-section .row:last-child {
  margin-top: 20px;
}
#contact-section {
  font-size: 16px;
}
#contact-section .alert {
  font-size: 18px;
}
#contact-section .alert .phone {
  font-size: 24px;
  margin-bottom: 10px;
}
#contact-section .contact-info {
  margin-top: 46px;
}
#contact-section p {
  margin-bottom: 40px;
}
footer {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #EEE;
  padding: 20px;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #E5E5E5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.025);
}
footer li {
  list-style-type: none;
}
